@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 360px;
}

/* Main Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Trispace', sans-serif;
  font-family: 'Courier New', Courier, monospace;
}

/* Utilities */
.pointer {
  cursor: pointer;
}

.app-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-width);
  padding-bottom: 40px;
}

/* Header */
.h {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

/* app-login */
.app-login {
  text-align: center;
}

.app-login button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #888;
}

.app-login a {
  text-decoration: none;
}

/* FirstTimeSetup */
.fts {
  font-weight: bolder;
  margin: auto;
  height: 90vh;
}

.fts-settings {
  display: flex;
  flex-direction: column;
}

/* ControlPanel */
/* control panel */
.cp {
  margin: 0 auto 10px;
}

/* control panel buttons */
.cpb-stat-line,
.cpb-edit-btns {
  display: flex;
  justify-content: space-between;
}

.cpb-stat-line {
  border-bottom: 2px solid #ccc;
}

.cpb-edit-btns button {
  display: inline-block;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #326088;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.cpb-edit-btns button:first-child {
  margin-left: 5px;
}

.cpb-edit-btns button:last-child {
  margin-right: 5px;
}

/* recent display */
.rd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  user-select: none;
}

.rd-unit {
  width: 25%;
  text-align: center;
  border: 1px dashed #ddd;
  font-weight: 500;
}

.rd-unit:first-child {
  border-top-left-radius: 10px;
}

.rd-unit:nth-child(4) {
  border-top-right-radius: 10px;
}

.rd-unit-date {
  font-weight: 400;
}

.rd-arrow-left,
.rd-arrow-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  cursor: pointer;
  width: 16px;
}

.rd-zero-day {
  background: #fff2a5;
}

/* user settings */
.us {
  width: inherit;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin-top: 5px;
  background: #eee;
}

.us-cate-name label {
  padding-left: 5px;
}

/* Daily Limit */
.dl {
  height: 25px;
}

.dl input {
  width: 80px;
}

/* Start Date */
.sd {
  height: 25px;
}

.sd-setDate {
  color: crimson;
}

/* Balance */
.b {
  font-weight: bold;
  font-size: 32px;
  width: 200px;
  margin: auto;
  text-align: center;
}

.b-neg-2 {
  color: crimson;
}

.b-neg-1 {
  color: #ff8d23;
}

.b-pos {
  color: limegreen;
}

/* footer */
footer {
  text-align: center;
  margin: -30px 0;
  font-size: 10px;
  color: #aaa;
}